                          !!!   WARNING   !!!

    This system is property of MINISTRY OF HEALTH, and it must be used
               in accordance with applicable IT Policies.
      Unauthorized access or activity is a violation of IT Policies
                         and violation of law.
